In [292]:
import pandas
import matplotlib.pyplot as plt
data = pandas.read_csv("train.csv")
old_data = pandas.read_csv("train.csv")
test= pandas.read_csv("test.csv")
data.head()
#data['spent_days'] = data['age_upon_intake_(days)']-data['age_upon_outcome_(days)']

,animal_id_outcome,dob_year,dob_month,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,...,age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,outcome_type
0,A006100,2007,7,10 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,...,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,12,2017,2017-12,Thursday,0,1.0,Return to Owner
1,A006100,2007,7,7 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,...,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,12,2014,2014-12,Saturday,16,2.0,Return to Owner
2,A006100,2007,7,6 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,...,6.0,"(5.0, 7.5]",NaN,3,2014,2014-03,Saturday,17,3.0,Return to Owner
3,A047759,2004,4,10 years,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,...,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,4,2014,2014-04,Monday,15,1.0,Missing
4,A134067,1997,10,16 years,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,...,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,11,2013,2013-11,Saturday,11,1.0,Return to Owner

In [293]:
data = data[data["outcome_type"] != "NaN"]
test = test[data["outcome_type"] != "NaN"]

C:\Users\nikit\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [294]:
data = data[data["outcome_type"] != "NaN"]
data['animal_type'] =data['animal_type'].fillna("Dog")
data['breed'] =data['breed'].fillna("Mix")
data['sex_upon_outcome'] =data['sex_upon_outcome'].fillna("Neutered Male")

In [295]:
del data["animal_id_outcome"]

In [296]:
data.loc[data["animal_type"]== "Dog", "animal_type"] = 1
data.loc[data["animal_type"]== "Cat", "animal_type"] = 0
data.loc[data["animal_type"]=="Bird","animal_type"] = -1
data.loc[data["animal_type"]=="Other","animal_type"] = -1

In [297]:
test.loc[test["animal_type"]== "Dog", "animal_type"] = 1
test.loc[test["animal_type"]== "Cat", "animal_type"] = 0
test.loc[test["animal_type"]=="Bird","animal_type"] = -1
test.loc[test["animal_type"]=="Other","animal_type"] = -1

In [298]:
data['sex_upon_outcome'] =data['sex_upon_outcome'].fillna("Neutered Male")
test['sex_upon_outcome'] = test['sex_upon_outcome'].fillna("Neutered Male")

In [299]:
data.loc[data["outcome_weekday"]== 'Saturday', "outcome_weekday"] = 10
data.loc[data["outcome_weekday"]== 'Sunday', "outcome_weekday"] = 10
test.loc[test["outcome_weekday"]== 'Saturday', "outcome_weekday"] = 10
test.loc[test["outcome_weekday"]== 'Sunday', "outcome_weekday"] = 10

In [300]:
data.loc[data["outcome_weekday"]!= 10, "outcome_weekday"] = 0
data.loc[data["outcome_weekday"]== 10, "outcome_weekday"] = 1
test.loc[test["outcome_weekday"]!= 10, "outcome_weekday"] = 0
test.loc[test["outcome_weekday"]== 10, "outcome_weekday"] = 1
data.head()
data["outcome_weekday"]

0        0
1        1
2        1
3        0
4        1
        ..
47798    0
47799    0
47800    1
47801    1
47802    1
Name: outcome_weekday, Length: 47803, dtype: int64

In [301]:
def day(x):
    if x == 16 or x == 19:
        x = "16and19"
    elif x == 17 or x == 18:
        x = "17and18"
    elif x == 7 or x == 8:
        x = "7and8"
    elif x == 12 or x == 13:
        x = "12and13"
    elif x == 14 or x == 15:
        x = "14and15"
    elif x == 9:
        x = "9"
    elif x == 0:
        x = "0"
    else:
        x = "other_time"
    return x

In [302]:
data['outcome_hour'] = data.outcome_hour.apply(day)
test['outcome_hour'] = test.outcome_hour.apply(day)
test["outcome_hour"]

0           16and19
1           17and18
2                 0
3           12and13
4        other_time
            ...
31864       17and18
31865       17and18
31866       17and18
31867       12and13
31868       12and13
Name: outcome_hour, Length: 31869, dtype: object

In [303]:
data.loc[data["intake_condition"]== "Normal", "intake_condition"] = 1
data.loc[data["intake_condition"]!= "Normal", "intake_condition"] = 0

In [304]:
test.loc[test["intake_condition"]== "Normal", "intake_condition"] = 1
test.loc[test["intake_condition"]!= "Normal", "intake_condition"] = 0

In [305]:
data.loc[data["intake_type"]== "Stray", "intake_type"] = 1
data.loc[data["intake_type"]== "Owner Surrender", "intake_type"] = 0
data.loc[data["intake_type"]== "Public Assist", "intake_type"] = -1
data.loc[data["intake_type"]== "Wildlife", "intake_type"] = -1
data.loc[data["intake_type"]== "Euthanasia Request", "intake_type"] = -1

In [306]:
test.loc[test["intake_type"]== "Stray", "intake_type"] = 1
test.loc[test["intake_type"]== "Owner Surrender", "intake_type"] = 0
test.loc[test["intake_type"]== "Public Assist", "intake_type"] = -1
test.loc[test["intake_type"]== "Wildlife", "intake_type"] = -1
test.loc[test["intake_type"]== "Euthanasia Request", "intake_type"] = -1

In [307]:
# dummies for encoding
def create_dummies(var):
    var_unique = var.unique()
    var_unique.sort()
    dummy = pandas.DataFrame()
    for val in var_unique:
    #for val in var_unique[:-1]:
        # which columns are equal to our unique value
        d = var == val
        # make a new column with a dummy variable
        dummy[var.name + "_" + str(val)] = d.astype(int)
    return(dummy)

data['sex_upon_outcome'] =data['sex_upon_outcome'].fillna("Neutered Male")
sex_dummies = create_dummies(data["sex_upon_outcome"])
data = pandas.concat([data, sex_dummies], axis=1)
del data["sex_upon_outcome"]

test['sex_upon_outcome'] =test['sex_upon_outcome'].fillna("Neutered Male")
sex_dummies_test = create_dummies(test["sex_upon_outcome"])
test = pandas.concat([test, sex_dummies_test], axis=1)
del test["sex_upon_outcome"]

outcome_hour_dummies = create_dummies(data["outcome_hour"])
data = pandas.concat([data, outcome_hour_dummies], axis=1)
del data["outcome_hour"]

outcome_hour_dummies_test = create_dummies(test["outcome_hour"])
test = pandas.concat([test, outcome_hour_dummies_test], axis=1)
del test["outcome_hour"]


data.head()

,dob_year,dob_month,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,count,...,sex_upon_outcome_Spayed Female,sex_upon_outcome_Unknown,outcome_hour_0,outcome_hour_12and13,outcome_hour_14and15,outcome_hour_16and19,outcome_hour_17and18,outcome_hour_7and8,outcome_hour_9,outcome_hour_other_time
0,2007,7,10 years,1,Spinone Italiano Mix,Yellow/White,0,1,Neutered Male,1,...,0,0,1,0,0,0,0,0,0,0
1,2007,7,7 years,1,Spinone Italiano Mix,Yellow/White,0,-1,Neutered Male,1,...,0,0,0,0,0,1,0,0,0,0
2,2007,7,6 years,1,Spinone Italiano Mix,Yellow/White,0,-1,Neutered Male,1,...,0,0,0,0,0,0,1,0,0,0
3,2004,4,10 years,1,Dachshund,Tricolor,0,0,Neutered Male,1,...,0,0,0,0,1,0,0,0,0,0
4,1997,10,16 years,1,Shetland Sheepdog,Brown/White,0,-1,Neutered Male,1,...,0,0,0,0,0,0,0,0,0,1

In [308]:
items_counts = data['breed'].value_counts()
items_counts_test = test['breed'].value_counts()

In [309]:
to_my_breads = data['breed'].value_counts() > 150
to_my_breed_test = test['breed'].value_counts()>150

In [310]:
items_counts_test[to_my_breed_test]

Domestic Shorthair Mix       10084
Pit Bull Mix                  2436
Labrador Retriever Mix        2332
Chihuahua Shorthair Mix       1857
Domestic Medium Hair Mix      1042
German Shepherd Mix            874
Bat Mix                        636
Australian Cattle Dog Mix      431
Domestic Longhair Mix          418
Siamese Mix                    380
Bat                            311
Dachshund Mix                  299
Border Collie Mix              249
Boxer Mix                      249
Miniature Poodle Mix           231
Yorkshire Terrier Mix          204
Siberian Husky Mix             203
American Shorthair Mix         199
Catahoula Mix                  191
Jack Russell Terrier Mix       189
Great Pyrenees Mix             186
Rat Terrier Mix                185
Cairn Terrier Mix              184
Beagle Mix                     179
Staffordshire Mix              177
Domestic Shorthair             169
Raccoon Mix                    166
Australian Shepherd Mix        163
Chihuahua Longhair Mix         163
Rabbit Sh Mix                  161
Pointer Mix                    156
Miniature Schnauzer Mix        153
Name: breed, dtype: int64

In [311]:
my_breeds = ["Domestic Shorthair", "Chihuahua Shorthair", "Labrador Retriever", 
             "Domestic Medium Hair", "German Shepherd", "Domestic Longhair", "Siamese", "Australian Cattle Dog", 
             "Dachshund", "Miniature Poodle", "Border Collie","Australian Shepherd", "Rat Terrier", "Catahoula", 
              "Husky", "Rottweiler", "Bulldog", "Pit Bull", "Boxer"]

In [312]:
import re
def breeds(x):
    x = str(x)
    breed = "other"
    for b in my_breeds:
        if re.search(b, x):
            breed = b
    return breed
data['My_Breeds'] = data.breed.apply(breeds)
test['My_Breeds'] = test.breed.apply(breeds)
test.head()

,animal_id_outcome,dob_year,dob_month,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,...,sex_upon_outcome_Unknown,outcome_hour_0,outcome_hour_12and13,outcome_hour_14and15,outcome_hour_16and19,outcome_hour_17and18,outcome_hour_7and8,outcome_hour_9,outcome_hour_other_time,My_Breeds
0,A723133,2013,3,3 years,0,Domestic Shorthair Mix,Brown Tabby,0,1,Intact Female,...,0,0,0,0,1,0,0,0,0,Domestic Shorthair
1,A723134,2016,2,4 weeks,0,Domestic Shorthair Mix,Brown Tabby,0,1,Intact Female,...,0,0,0,0,0,1,0,0,0,Domestic Shorthair
2,A723135,2016,2,4 weeks,0,Domestic Shorthair Mix,Brown Tabby,0,1,Intact Male,...,0,1,0,0,0,0,0,0,0,Domestic Shorthair
3,A723136,2016,2,4 weeks,0,Domestic Shorthair Mix,Brown Tabby,0,1,Intact Female,...,0,0,1,0,0,0,0,0,0,Domestic Shorthair
4,A723137,2016,2,4 weeks,0,Domestic Shorthair Mix,Blue Tabby,0,1,Intact Female,...,0,0,0,0,0,0,0,0,1,Domestic Shorthair

In [313]:
breed_dummies = create_dummies(data["My_Breeds"])
data = pandas.concat([data, breed_dummies], axis=1)
del data["My_Breeds"]
del data["breed"]
breed_dummies_test = create_dummies(test["My_Breeds"])
test = pandas.concat([test, breed_dummies_test], axis=1)
del test["My_Breeds"]
del test["breed"]

In [314]:
features = data.columns.tolist() 
print(features)

['dob_year', 'dob_month', 'age_upon_intake', 'animal_type', 'color', 'intake_condition', 'intake_type', 'sex_upon_intake', 'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)', 'age_upon_intake_age_group', 'intake_datetime', 'intake_month', 'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter', 'time_in_shelter_days', 'age_upon_outcome', 'date_of_birth', 'age_upon_outcome_(days)', 'age_upon_outcome_(years)', 'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month', 'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_number', 'outcome_type', 'sex_upon_outcome_Intact Female', 'sex_upon_outcome_Intact Male', 'sex_upon_outcome_Neutered Male', 'sex_upon_outcome_Spayed Female', 'sex_upon_outcome_Unknown', 'outcome_hour_0', 'outcome_hour_12and13', 'outcome_hour_14and15', 'outcome_hour_16and19', 'outcome_hour_17and18', 'outcome_hour_7and8', 'outcome_hour_9', 'outcome_hour_other_time', 'My_Breeds_Australian Cattle Dog', 'My_Breeds_Australian Shepherd', 'My_Breeds_Border Collie', 'My_Breeds_Boxer', 'My_Breeds_Bulldog', 'My_Breeds_Catahoula', 'My_Breeds_Chihuahua Shorthair', 'My_Breeds_Dachshund', 'My_Breeds_Domestic Longhair', 'My_Breeds_Domestic Medium Hair', 'My_Breeds_Domestic Shorthair', 'My_Breeds_German Shepherd', 'My_Breeds_Husky', 'My_Breeds_Labrador Retriever', 'My_Breeds_Miniature Poodle', 'My_Breeds_Pit Bull', 'My_Breeds_Rat Terrier', 'My_Breeds_Rottweiler', 'My_Breeds_Siamese', 'My_Breeds_other']

In [315]:
features_test = test.columns.tolist()
print (features_test)

['animal_id_outcome', 'dob_year', 'dob_month', 'age_upon_intake', 'animal_type', 'color', 'intake_condition', 'intake_type', 'sex_upon_intake', 'count', 'age_upon_intake_(days)', 'age_upon_intake_(years)', 'age_upon_intake_age_group', 'intake_datetime', 'intake_month', 'intake_year', 'intake_monthyear', 'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter', 'time_in_shelter_days', 'age_upon_outcome', 'date_of_birth', 'age_upon_outcome_(days)', 'age_upon_outcome_(years)', 'age_upon_outcome_age_group', 'outcome_datetime', 'outcome_month', 'outcome_year', 'outcome_monthyear', 'outcome_weekday', 'outcome_number', 'sex_upon_outcome_Intact Female', 'sex_upon_outcome_Intact Male', 'sex_upon_outcome_Neutered Male', 'sex_upon_outcome_Spayed Female', 'sex_upon_outcome_Unknown', 'outcome_hour_0', 'outcome_hour_12and13', 'outcome_hour_14and15', 'outcome_hour_16and19', 'outcome_hour_17and18', 'outcome_hour_7and8', 'outcome_hour_9', 'outcome_hour_other_time', 'My_Breeds_Australian Cattle Dog', 'My_Breeds_Australian Shepherd', 'My_Breeds_Border Collie', 'My_Breeds_Boxer', 'My_Breeds_Bulldog', 'My_Breeds_Catahoula', 'My_Breeds_Chihuahua Shorthair', 'My_Breeds_Dachshund', 'My_Breeds_Domestic Longhair', 'My_Breeds_Domestic Medium Hair', 'My_Breeds_Domestic Shorthair', 'My_Breeds_German Shepherd', 'My_Breeds_Husky', 'My_Breeds_Labrador Retriever', 'My_Breeds_Miniature Poodle', 'My_Breeds_Pit Bull', 'My_Breeds_Rat Terrier', 'My_Breeds_Rottweiler', 'My_Breeds_Siamese', 'My_Breeds_other']

In [316]:
features.remove("dob_year")
features.remove("dob_month")
features.remove("age_upon_intake")
features.remove("color")
features.remove("age_upon_intake_(days)")
features.remove("age_upon_intake_(years)")
features.remove("age_upon_intake_age_group")
features.remove("intake_datetime")
features.remove("intake_month")
features.remove("intake_year")
features.remove("intake_monthyear")
features.remove("intake_weekday")
features.remove("intake_hour")
features.remove("intake_number")
features.remove("time_in_shelter")
features.remove("time_in_shelter_days")
features.remove("age_upon_outcome")
features.remove("age_upon_outcome_(years)")
features.remove("age_upon_outcome_age_group")
features.remove("outcome_datetime")
features.remove("outcome_month")
features.remove("outcome_year")
features.remove("outcome_monthyear")
#features.remove("outcome_weekday")
features.remove("sex_upon_intake")
features.remove("date_of_birth")
features.remove("outcome_number")
features.remove("outcome_type")
print(features)

['animal_type', 'intake_condition', 'intake_type', 'count', 'age_upon_outcome_(days)', 'outcome_weekday', 'sex_upon_outcome_Intact Female', 'sex_upon_outcome_Intact Male', 'sex_upon_outcome_Neutered Male', 'sex_upon_outcome_Spayed Female', 'sex_upon_outcome_Unknown', 'outcome_hour_0', 'outcome_hour_12and13', 'outcome_hour_14and15', 'outcome_hour_16and19', 'outcome_hour_17and18', 'outcome_hour_7and8', 'outcome_hour_9', 'outcome_hour_other_time', 'My_Breeds_Australian Cattle Dog', 'My_Breeds_Australian Shepherd', 'My_Breeds_Border Collie', 'My_Breeds_Boxer', 'My_Breeds_Bulldog', 'My_Breeds_Catahoula', 'My_Breeds_Chihuahua Shorthair', 'My_Breeds_Dachshund', 'My_Breeds_Domestic Longhair', 'My_Breeds_Domestic Medium Hair', 'My_Breeds_Domestic Shorthair', 'My_Breeds_German Shepherd', 'My_Breeds_Husky', 'My_Breeds_Labrador Retriever', 'My_Breeds_Miniature Poodle', 'My_Breeds_Pit Bull', 'My_Breeds_Rat Terrier', 'My_Breeds_Rottweiler', 'My_Breeds_Siamese', 'My_Breeds_other']

In [324]:
features_test.remove("animal_id_outcome")
features_test.remove("dob_year")
features_test.remove("dob_month")
features_test.remove("age_upon_intake")
features_test.remove("color")
features_test.remove("age_upon_intake_(days)")
features_test.remove("age_upon_intake_(years)")
features_test.remove("age_upon_intake_age_group")
features_test.remove("intake_datetime")
features_test.remove("intake_month")
features_test.remove("intake_year")
features_test.remove("intake_monthyear")
features_test.remove("intake_weekday")
features_test.remove("intake_hour")
features_test.remove("intake_number")
features_test.remove("time_in_shelter")
features_test.remove("time_in_shelter_days")
features_test.remove("age_upon_outcome")
features_test.remove("age_upon_outcome_(years)")
features_test.remove("age_upon_outcome_age_group")
features_test.remove("outcome_datetime")
features_test.remove("outcome_month")
features_test.remove("outcome_year")
features_test.remove("outcome_monthyear")
#features.remove("outcome_weekday")
features_test.remove("sex_upon_intake")
features_test.remove("date_of_birth")
features_test.remove("outcome_number")
#features_test.remove("outcome_type")
print(features)

['animal_type', 'intake_condition', 'intake_type', 'count', 'age_upon_outcome_(days)', 'outcome_weekday', 'sex_upon_outcome_Intact Female', 'sex_upon_outcome_Intact Male', 'sex_upon_outcome_Neutered Male', 'sex_upon_outcome_Spayed Female', 'sex_upon_outcome_Unknown', 'outcome_hour_0', 'outcome_hour_12and13', 'outcome_hour_14and15', 'outcome_hour_16and19', 'outcome_hour_17and18', 'outcome_hour_7and8', 'outcome_hour_9', 'outcome_hour_other_time', 'My_Breeds_Australian Cattle Dog', 'My_Breeds_Australian Shepherd', 'My_Breeds_Border Collie', 'My_Breeds_Boxer', 'My_Breeds_Bulldog', 'My_Breeds_Catahoula', 'My_Breeds_Chihuahua Shorthair', 'My_Breeds_Dachshund', 'My_Breeds_Domestic Longhair', 'My_Breeds_Domestic Medium Hair', 'My_Breeds_Domestic Shorthair', 'My_Breeds_German Shepherd', 'My_Breeds_Husky', 'My_Breeds_Labrador Retriever', 'My_Breeds_Miniature Poodle', 'My_Breeds_Pit Bull', 'My_Breeds_Rat Terrier', 'My_Breeds_Rottweiler', 'My_Breeds_Siamese', 'My_Breeds_other']

In [325]:
print(len(features_test))

39

In [219]:
#features.remove("intake_condition")
#features.remove("intake_type")

In [183]:
data['spent_days'] = data['age_upon_intake_(days)']-data['age_upon_outcome_(days)']

In [321]:
import numpy as np
# shuffle data
shuffled_rows = np.random.permutation(data.index)

# Select 70% of the dataset to be training data
highest_train_row = int(data.shape[0] * .70)
train = data.loc[shuffled_rows[:highest_train_row], :]

# Select 30% of the dataset to be test data
my_test = data.loc[shuffled_rows[highest_train_row:], :]

train.head()

,dob_year,dob_month,age_upon_intake,animal_type,color,intake_condition,intake_type,sex_upon_intake,count,age_upon_intake_(days),...,My_Breeds_Domestic Shorthair,My_Breeds_German Shepherd,My_Breeds_Husky,My_Breeds_Labrador Retriever,My_Breeds_Miniature Poodle,My_Breeds_Pit Bull,My_Breeds_Rat Terrier,My_Breeds_Rottweiler,My_Breeds_Siamese,My_Breeds_other
28901,2011,3,4 years,1,Black/White,0,0,Neutered Male,1,1460,...,0,0,1,0,0,0,0,0,0,0
34594,2015,5,3 weeks,0,Black/White,0,1,Unknown,1,21,...,1,0,0,0,0,0,0,0,0,0
47121,2015,1,1 year,1,White,0,1,Intact Male,1,365,...,0,1,0,0,0,0,0,0,0,0
3283,2009,2,6 years,1,Black/Tan,0,1,Neutered Male,1,2190,...,0,1,0,0,0,0,0,0,0,0
44082,2015,9,2 months,0,Black Smoke,0,1,Intact Male,1,60,...,0,0,0,0,0,0,0,0,0,0

In [212]:
from sklearn import linear_model

alg = linear_model.LogisticRegression(random_state=1,max_iter= 1000)
alg.fit(train[features], train["outcome_type"])

C:\Users\nikit\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [213]:
from sklearn import metrics
outcomepred = alg.predict(my_test[features])
print (outcomepred)
print('F1 Score:',metrics.f1_score(my_test["outcome_type"], outcomepred,average='micro'))

['Adoption' 'Transfer' 'Return to Owner' ... 'Adoption' 'Adoption'
 'Adoption']
F1 Score: 0.4805801548009204

In [322]:
from sklearn.ensemble import RandomForestClassifier
alg2 = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=25, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=11, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
alg2.fit(train[features], train["outcome_type"])
outcomepred2 = alg2.predict(my_test[features])
print('F1 Score:',metrics.f1_score(my_test["outcome_type"], outcomepred2,average='micro'))

F1 Score: 0.5330869534899937

In [326]:
outcomeprednew = alg2.predict(test[features_test])

In [288]:
rf100 = RandomForestClassifier(n_estimators=100,random_state=1)
rf100.fit(train[features], train["outcome_type"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [289]:
y_pred_rf_100 = rf100.predict(my_test[features])

In [290]:
print("Random Forest Train-Test accuracy:",metrics.accuracy_score(my_test["outcome_type"],y_pred_rf_100))
pandas.DataFrame({'feature':features, 
              'importance':rf100.feature_importances_}).sort_values(by='importance', ascending=False)

Random Forest Train-Test accuracy: 0.47458336238756016

                            feature  importance
4           age_upon_outcome_(days)    0.405553
2                       intake_type    0.102777
0                       animal_type    0.050850
5                   outcome_weekday    0.039270
8    sex_upon_outcome_Neutered Male    0.027566
6    sex_upon_outcome_Intact Female    0.027463
9    sex_upon_outcome_Spayed Female    0.027277
10         sex_upon_outcome_Unknown    0.025477
7      sex_upon_outcome_Intact Male    0.024106
38                  My_Breeds_other    0.019613
15             outcome_hour_17and18    0.019403
29     My_Breeds_Domestic Shorthair    0.017843
12             outcome_hour_12and13    0.016392
13             outcome_hour_14and15    0.015952
14             outcome_hour_16and19    0.014880
18          outcome_hour_other_time    0.013819
17                   outcome_hour_9    0.011995
34               My_Breeds_Pit Bull    0.011939
25    My_Breeds_Chihuahua Shorthair    0.011293
32     My_Breeds_Labrador Retriever    0.010632
11                   outcome_hour_0    0.010194
30        My_Breeds_German Shepherd    0.009186
26              My_Breeds_Dachshund    0.008083
19  My_Breeds_Australian Cattle Dog    0.007669
22                  My_Breeds_Boxer    0.007050
16               outcome_hour_7and8    0.007046
21          My_Breeds_Border Collie    0.006638
33       My_Breeds_Miniature Poodle    0.006385
28   My_Breeds_Domestic Medium Hair    0.005304
35            My_Breeds_Rat Terrier    0.005266
24              My_Breeds_Catahoula    0.004914
23                My_Breeds_Bulldog    0.004863
20    My_Breeds_Australian Shepherd    0.004835
36             My_Breeds_Rottweiler    0.004773
31                  My_Breeds_Husky    0.004710
27      My_Breeds_Domestic Longhair    0.004673
37                My_Breeds_Siamese    0.004311
1                  intake_condition    0.000000
3                             count    0.000000

In [327]:
sample_submission = pandas.read_csv("test.csv")

In [328]:
result = pandas.DataFrame(outcomeprednew)

In [329]:
mid = sample_submission['animal_id_outcome']
result.insert(0, 'ID', mid)
result.head()

        ID         0
0  A723133  Transfer
1  A723134  Adoption
2  A723135  Transfer
3  A723136  Transfer
4  A723137  Transfer

In [330]:
result.to_csv("submission_solution3.csv", index=False)